body {
    background-color: rgb(147, 31, 151);
    text-align: center;
}
.jeanbabo_img {
    margin-top:20px;
}
.jean_btn {
    width:150px;
    height: 70px;
    border: 1px solid black;
    margin:30px 20px 30px 20px;
    font-size: 2.5em;
    font-weight: bold;
}